<!-- Sing in  Form -->
<section class="signin">
  <div class="container">
    <div class="row signin-content">
      <div class="signin-image">
        <figure><img src="/img/signin-image.jpg" alt="sing up image"></figure>
        <a href="/register" class="signin-image-link">Bạn chưa có tài khoản?</a>
      </div>
      <div class="signin-form">
        <h2 class="form-title">Đăng nhập</h2>
        <form method="POST" class="login-form" id="login-form">
          <div class="form-group">
            <label for="email"><i class="fas fa-envelope"></i></label>
            <input type="email" name="email" id="email" placeholder="Email" value="{{ values.email }}" required />
            <p class="text-danger msg">{{ emailMsg }}</p>
          </div>
          <div class="form-group">
            <label for="pass"><i class="fas fa-lock"></i></label>
            <input type="password" name="password" id="pass" placeholder="Mật khẩu" value="{{ values.password }}"
              required />
            <p class="text-danger msg">{{ passMsg }}</p>
          </div>

          <div class="form-group agree-term-form">
            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
            <label for="agree-term" class="label-agree-term">Nhớ mật khẩu</label>
          </div>
          <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit btn btn-primary" value="Đăng nhập" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{!-- <div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Đăng Nhập</h5>
        <form action="" method="POST" class="form-signin">
          <div class="form-label-group">
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"
              value="{{ values.email }}" required autofocus>
            <label for="inputEmail">Email address</label>
          </div>

          <div class="form-label-group">
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
              value="{{ values.password }}" required>
            <label for="inputPassword">Password</label>
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Remember password</label>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng Nhập</button>
          <hr class="my-4">
          <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
              class="fab fa-google mr-2"></i> Sign in with Google</button>
          <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
              class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
        </form>
      </div>
    </div>
  </div>
</div> --}}