<!-- Sign up form -->
<section class="signup">
  <div class="container">
    <div class="row signup-content">
      <div class="signup-form">
        <h2 class="form-title">Đăng ký</h2>
        <form method="POST" class="register-form" id="register-form">
          <div class="form-group">
            <label for="name"><i class="fas fa-user"></i></label>
            <input type="text" name="name" id="name" placeholder="Họ tên" value="{{ values.name }}" />
            
          </div>
          <div class="form-group">
            <label for="email"><i class="fas fa-envelope"></i></label>
            <input type="email" name="email" id="email" placeholder="Email" value="{{ values.email }}" />
            <p class="text-danger msg">{{ emailValidation }}</p>
          </div>
          <div class="form-group">
            <label for="pass"><i class="fas fa-lock"></i></label>
            <input type="password" name="password" id="pass" placeholder="Mật khẩu" value="{{ values.password }}" />
          </div>
          <div class="form-group">
            <label for="re-pass"><i class="fas fa-lock"></i></label>
            <input type="password" name="rePassword" id="re_pass" placeholder="Nhập lại mật khẩu" value="{{ values.rePassword }}" />
          </div>
          <div class="form-group agree-term-form">
            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
            <label for="agree-term" class="label-agree-term">Tôi đồng ý với tất cả <a
                href="#" class="term-service">Điều khoản dịch vụ</a></label>
          </div>
          <div class="form-group form-button">
            <input type="submit" name="signup" id="signup" class="form-submit btn btn-primary" value="Đăng ký" />
          </div>
        </form>
      </div>
      <div class="signup-image">
        <figure><img src="/img/signup-image.jpg" alt="sing up image"></figure>
        <a href="#" class="signup-image-link">Tôi đã là thành viên</a>
      </div>
    </div>
  </div>
</section>



{{!-- <form action="" method="POST" class="mt-4">
  {{ errors }}
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Họ tên</label>
    <div class="col-sm-10">
      <input name="name" type="text" class="form-control" id="name" value="{{ values.name }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input name="email" type="email" class="form-control" id="email" value="{{ values.email }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Mật khẩu</label>
    <div class="col-sm-10">
      <input name="password" type="password" class="form-control" id="password" value="{{ values.password }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="rePassword" class="col-sm-2 col-form-label">Nhập lại mật khẩu</label>
    <div class="col-sm-10">
      <input name="rePassword" type="password" class="form-control" id="rePassword" value="{{ values.rePassword }}">
    </div>
  </div>
  <div class="col-sm-10">
    <button type="submit" class="btn btn-primary">Đăng Ký</button>
  </div>
</form>
--}}