<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/courses">
              Khoá học
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="/courses/{{course.slug}}">
              {{course.name}}
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{lesson.name}}
          </li>
        </ol>
      </nav>
      <iframe width="100%" height="460" src="https://www.youtube.com/embed/{{lesson.videoId}}"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <div class="mt-4">
        {{#each exercises}}
        <a href="{{this.lessonSlug}}/{{this.slug}}" class="btn btn-success rounded-pill mx-2 px-4 mb-2 ex-btn" target="_blank">
          Bài tập {{sum @index 1}}
        </a>
        {{/each}}
        {{#each user.exDone}}
          <input type="text" class="exDone" value="{{this}}" hidden>
        {{/each}}
      </div>
      <div class="my-4">
        {{#if user.banned}}
        Bạn đã bị cấm bình luận do vi phạm <a href="/term">Điều khoản sử dụng</a>
        {{else}}
        <div class="form-group">
          <input type="text" class="form-control comment" contenteditable="true" name="content"
            placeholder="Bạn có thắc mắc gì về bài học này?" required />
        </div>
        <input type="button" class="btn btn-primary comment__btn comment-btn" value="Bình luận">
        {{/if}}
      </div>
      <div class="comments-box">
        {{!-- New comment --}}
      </div>
      {{#each comments}}
      <div class="mt-4 d-flex">
        <img class="comment__avt" src="/{{this.commentBy.avatar}}" />
        <div class="comment__inner">
          <span class="comment__name font-weight-bold">
            {{this.commentBy.name}}
          </span>
          <span class="commentBy" style="display: none">{{this.commentBy._id}}</span>
          {{#if this.commentBy.banned}}
          <div class="comment__content mt-1">
            Bình luận này bị ẩn do tài khoản vi phạm <a href="/term">chính sách cộng đồng</a>
          </div>
          {{else}}
          <div class="comment__content edit-content mt-1">{{this.content}}</div>
          <div class="comment__options">
            <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></i>
            <ul class="dropdown-menu comment__option--list">
              <li class="dropdown-item comment__option--item adOptions">
                <form class="banned" method="POST" action="">
                  <input class="ipb" type="text" value="true" name="banned" hidden>
                  Chặn bình luận
                </form>
              </li>
              <li class="dropdown-item comment__option--item editCmt">
                <input class="ipb" type="text" value="true" name="content" hidden>
                Sửa bình luận
              </li>
              <li class="dropdown-item comment__option--item">
                Xoá bình luận
              </li>
            </ul>
          </div>
          {{/if}}
        </div>
      </div>
      <div class="comment__action">
        <span class="comment__action--reply">
          Trả lời
        </span>
        <span class="local-datetime comment__action--time">
          {{momentHM this.createdAt}}
        </span>
        <form class="reply-form">
          <div class="form-group">
            <input type="text" class="form-control comment" name="content" placeholder="Trả lời bình luận này"
              required />
            <input type="text" class="cmtBy" name="cmtId" value={{this._id}} hidden />
            <input type="text" class="replyBy" name="replyBy" hidden />
          </div>
          <button type="submit" class="btn btn-primary comment__btn test">
            Trả lời
          </button>
        </form>
      </div>
      {{#each this.reply}}
      <div class="mt-4 ml-5 d-flex">
        <img class="comment__avt" src="/{{this.replyBy.avatar}}" />
        <div class="comment__inner">
          <span class="comment__name font-weight-bold">
            {{this.replyBy.name}}
          </span>
          <input class="ipRepId" type="text" value="{{this._id}}" hidden>
          <input class="replyEditBy" type="text" value="{{this.replyBy._id}}" hidden>
          <div class="comment__content reply-content mt-1">{{this.content}}</div>
          <div class="comment__options">
            <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></i>
            <ul class="dropdown-menu comment__option--list">
              <li class="dropdown-item comment__option--item adOptions">
                <form class="banned" method="POST" action="">
                  <input class="ipr" type="text" value="true" name="banned" hidden>
                  Chặn bình luận
                </form>
              </li>
              <li class="dropdown-item comment__option--item editReply">
                Sửa trả lời
              </li>
              <li class="dropdown-item comment__option--item">
                Xoá bình luận
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="comment__action ml-5">
        <span class="comment__action--time ml-5">
          {{momentHM this.createdAt}}
        </span>
      </div>
      {{/each}}
      {{!-- new reply --}}
      <div class="reply-box"></div> 
      {{/each}}
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 lesson mt-2">
      <div class="lesson__title">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                STT
              </th>
              <th scope="col">
                Danh sách bài học
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="lesson__list" style="height: 80vh">
        <table class="table">
          <tbody>
            {{#each lessons}}
            <tr class="lesson__item">
              <th scope="row">
                {{sum @index 1}}
              </th>
              <td>
                <a href="{{this.slug}}" class="lesson__link">
                  {{this.name}}
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  // add active lesson is done and add active lesion background color
  let item = document.querySelectorAll('.lesson__item');
  let lesson = document.querySelectorAll('.lesson__link');

  let lsDone = '{{user.lsDone}}';

  for (let i = 0; i < lesson.length; i++) {
    if (lesson[i].getAttribute('href') === window.location.href.split('/').slice(-1).join('')) {
      item[i].classList.add('btn-primary');
      lesson[i].classList.add('text-white')
    } else if (lsDone.includes(lesson[i].getAttribute('href'))) {
      item[i].style.backgroundColor = '#ccc'
    }
  }

  // add active exercise
  let exBtn = document.querySelectorAll('.ex-btn');
  let exDone = document.querySelectorAll('.exDone');
  let exDoneArr = [];

  for (let i = 0; i < exDone.length; i++) {
    exDoneArr.push(exDone[i].value);
  }

  for (let i = 0; i < exBtn.length; i++) {
    let ex = exBtn[i].getAttribute('href').split('/').slice(-1).join('')
    if(exDoneArr.includes(ex)) {
      exBtn[i].classList.add('btn-danger')
    }
  }


  window.addEventListener('DOMContentLoaded', (event) => {
    // check role ban user
    let adOptions = document.querySelectorAll('.adOptions');
    for (let i = 0; i < adOptions.length; i++) {
      if ('{{ user.isAdmin }}' === 'false') {
        adOptions[i].style.display = 'none';
      }
    }

    // action ban user
    let banned = document.querySelectorAll('.banned');

    for (let i = 0; i < banned.length; i++) {
      banned[i].onclick = function () {
        let commentBy = document.querySelectorAll('.commentBy');
        let cmtBy = commentBy[i].textContent;
        banned[i].action = `/admin/users/${cmtBy}/update?_method=PUT`;
        banned[i].submit();
      }
    }

    // add new comment

    function postHTML(val) {
      let html = `
      <div class="mt-4 d-flex">
      <img class="comment__avt" src="/{{user.avatar}}" />
          <div class="comment__inner">
            <span class="comment__name font-weight-bold">
              {{user.name}}
            </span>
            <span class="commentBy" style="display: none">{{user._id}}</span>
            <div class="comment__content edit-content mt-1">${val}</div>
            <div class="comment__options">
              <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <ul class="dropdown-menu comment__option--list">
                  <li class="dropdown-item comment__option--item adOptions">
                    <form class="banned" method="POST" action="">
                      <input class="ipb" type="text" value="true" name="banned" hidden>
                      Chặn bình luận
                    </form>
                  </li>
                <li class="dropdown-item comment__option--item editCmt">
                      <input class="ipb" type="text" value="true" name="content" hidden>
                      Sửa bình luận
                </li>
                <li class="dropdown-item comment__option--item">
                    Xoá bình luận
                </li>
              </ul>
            </div>
          </div>
          </div>
           <div class="comment__action">
          <span class="comment__action--reply">
            Trả lời
          </span>
          <span class="local-datetime comment__action--time">
            {{momentHM this.createdAt}}
          </span>
          <form
            method="POST"
            action="{{lessonSlug}}/reply?_method=PUT"
            class="reply-form"
          >
            <div class="form-group">
              <input
                type="text"
                class="form-control comment"
                name="content"
                placeholder="Trả lời bình luận này"
                required
              />
              <input
                type="text"
                class="cmtBy"
                name="cmtId"
                value={{this._id}}
                hidden
              />
              <input type="text" class="replyBy" name="replyBy" hidden />
            </div>
            <button type="submit" class="btn btn-primary comment__btn">
              Trả lời
            </button>
          </form>
        </div>
      `

      $('.comments-box').prepend(html);
      $('.comment').val('')
    }

    $(document).ready(function () {
      $('.comment-btn').click(function () {
        let val = $('.comment').val();
        if (val !== '') {
          $.post('{{lesson.slug}}/comment', { lessonSlug: '{{lesson.slug}}', commentBy: '{{user._id}}', content: val }, function (data) {
            if (data) {
              postHTML(val);
            }
          })
        }
      })
    })

    // check role edit and update comment

    let editCmt = document.querySelectorAll('.editCmt');
    let content = document.querySelectorAll('.edit-content');

    for (let i = 0; i < editCmt.length; i++) {
      let commentBy = document.querySelectorAll('.commentBy');
      let cmtBy = commentBy[i].textContent;
      if (cmtBy !== '{{user._id}}') {
        editCmt[i].style.display = 'none';
      }

      let cmtId = document.querySelectorAll('.cmtBy');

      editCmt[i].onclick = function () {
        content[i].innerHTML = `
    <input type="text" class="form-control comment-edited" contenteditable="true" name="content" value="${content[i].textContent}" required>
    <input type="text" id="cmtId" name="cmtId" value=${cmtId[i].value} hidden/>
    <input type="button" class="btn btn-primary comment__btn mt-3 edit-cmt-btn" value="Lưu lại">
    `
        // action update comment

        $('.edit-cmt-btn').click(function () {
          cmtId = $('#cmtId').val();
          let val = $('.comment-edited').val();
          if (val !== '') {
            $.post('{{lesson.slug}}/comment/update?_method=PUT', { cmtId: cmtId, content: val }, function () {
              content[i].innerHTML = `<div class="comment__content edit-content mt-1">${val}</div>`
            });
          }
        })
      };
    }

    // show reply form
    let rep = document.querySelectorAll('.replyBy');
    for (let i = 0; i < rep.length; i++) {
      rep[i].value = '{{user._id}}'
    }

    let reply = document.querySelectorAll('.reply-form');
    let btnReply = document.querySelectorAll('.comment__action--reply');

    for (let i = 0; i < reply.length; i++) {
      btnReply[i].onclick = function () {
        reply[i].style.display = 'block';
          // action reply

    $('.reply-form').submit(function(event){
      event.preventDefault();
      let formData = $(this).serialize();
      let content = formData.split('&')[0].slice(8);
      $.post('{{lesson.slug}}/reply?_method=PUT', formData, function(){
        $('.reply-box')[i].innerHTML= `
           <div class="mt-4 ml-5 d-flex">
        <img class="comment__avt" src="/{{user.avatar}}" />
        <div class="comment__inner">
          <span class="comment__name font-weight-bold">
            {{user.name}}
          </span>
          <input class="replyEditBy" type="text" value="{{user._id}}" hidden>
          <div class="comment__content reply-content mt-1">${content}</div>
          <div class="comment__options">
            <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></i>
            <ul class="dropdown-menu comment__option--list">
              <li class="dropdown-item comment__option--item adOptions">
                <form class="banned" method="POST" action="">
                  <input class="ipr" type="text" value="true" name="banned" hidden>
                  Chặn bình luận
                </form>
              </li>
              <li class="dropdown-item comment__option--item editReply">
                Sửa trả lời
              </li>
              <li class="dropdown-item comment__option--item">
                Xoá bình luận
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="comment__action ml-5">
        <span class="comment__action--time ml-5">
          {{momentHM this.createdAt}}
        </span>
      </div>
        `
      })
    })
  
      }
    }

  

  });

  // check role edit and update reply

  let editReply = document.querySelectorAll('.editReply');
  let contentReply = document.querySelectorAll('.reply-content');

  for (let i = 0; i < editReply.length; i++) {
    let replyEditBy = document.querySelectorAll('.replyEditBy');
    let repBy = replyEditBy[i].value;
    if (repBy !== '{{user._id}}') {
      editReply[i].style.display = 'none';
    }

    let repId = document.querySelectorAll('.ipRepId');

    editReply[i].onclick = function () {
      contentReply[i].innerHTML = `
      <form class="edit-form" method="POST" action="/courses/{{course.slug}}/{{lesson.slug}}/reply/update?_method=PUT">
      <input type="text" class="form-control comment-edited" name="content" value="${contentReply[i].textContent}" required>
      <input type="text" name="replyBy" value=${replyEditBy[i].value} hidden/>
      <input type="text" name="repId" value=${repId[i].value} hidden/>
      <button type="submit" class="btn btn-primary comment__btn mt-3 edit-cmt-btn">
        Lưu lại
      </button>
      </form>
    `
    };
  }







</script>