<div class="container mt-4">
Câu hỏi: {{ exercise.question }}
    {{#each exercise.answer}}
    <div class="form-check">
        <input id="answer{{@index}}" class="form-check-input answer" type="checkbox" name="answer" value="{{this}}">
        <label class="form-check-label" for="answer{{@index}}">
            {{ this }}
        </label>
    </div>
    {{/each}}
    <button id="submit" class="btn btn-primary">OK</button>
</div>

<script>
    let answer = document.querySelectorAll('.answer');

    let isRadio = {{ isRadio }};
    if (isRadio) {
        for (let i = 0; i < answer.length; i++) {
            answer[i].setAttribute('type', 'radio');
        }
    }
    document.querySelector('#submit').onclick = function () {
        let uAnswer = [];
        for (let i = 0; i < answer.length; i++) {
            if (answer[i].checked) {
                uAnswer.push(answer[i].value);
            }
        }
        
        function equar(a, b) {
            if (a.length !== b.length) {
                return false
            } else {
                for (let i = 0; i < a.length; i++) {
                    if (a[i] !== b[i]) {
                        return false
                    }
                }
                return true;
            }
        }


        let match = equar(uAnswer, '{{exercise.correct}}'.split(','));
        if(match) {
            alert('đúng ròi!');
            // đúng thì push vào passing trong user
        } else {
            alert('sai rồi bạn ơi');
        }
        

    }
</script>