<div class="container">
    <form id="needs-validation" class="py-3" method="POST" action="/profile/update?_method=PUT">
        <h3 class="text-center font-weight-bold mb-3">Thông tin tài khoản</h3>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Họ tên: <sup class="text-danger">*</sup></label>
            <div class="col-sm-10">
                <input name="name" type="text" class="form-control" id="name" value="{{ user.name }}"
                    placeholder="VD: Nguyễn Văn A" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email: <sup class="text-danger">*</sup></label>
            <div class="col-sm-10">
                <input name="email" type="email" class="form-control" id="email" value="{{ user.email }}"
                    placeholder="VD: courseuni@example.com" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Điện thoại:</label>
            <div class="col-sm-10">
                <input name="phone" type="text" class="form-control" id="phone" value="{{ user.phone }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="dateOfBirth" class="col-sm-2 col-form-label">Ngày sinh: <sup class="text-danger">*</sup></label>
            <div class="col-sm-10">
                <input name="dateOfBirth" type="text" class="form-control" id="dateOfBirth" placeholder="Tháng/Ngày/Năm VD: 01/20/1998"
                    value="{{#if user.dateOfBirth}}{{moment user.dateOfBirth }}{{/if}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-sm-2 col-form-label">Giới tính:</label>
            <div class="col-sm-10">
                <select class="form-control" name="gender" id="gender">
                    {{#if user.gender}}
                    <option value="{{ user.gender }}">{{ user.gender }}</option>
                    <option value="{{ gender user.gender }}">{{ gender user.gender }}</option>
                    {{else}}
                    <option value=""></option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                    {{/if}}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Địa chỉ:</label>
            <div class="col-sm-10">
                <input name="address" type="text" class="form-control" id="address" value="{{ user.address }}">
            </div>
        </div>


        {{!-- <div class="form-group row">
            <label for="role" class="col-sm-2 col-form-label">Quản trị viên</label>
            <div class="col-sm-10 d-flex align-items-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="isAdmin" id="inlineRadio1" value="true" {{#if
                        user.isAdmin}}checked{{/if}}>
                    <label class="form-check-label" for="inlineRadio1">Có</label>
                </div>
                <div class="form-check form-check-inline ml-3">
                    <input class="form-check-input" type="radio" name="isAdmin" id="inlineRadio2" value="false" {{#if
                        user.isAdmin}}{{else}}checked{{/if}}>
                    <label class="form-check-label" for="inlineRadio2">Không</label>
                </div>
            </div>
        </div> --}}
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary px-4">Lưu lại</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        jQuery.validator.addMethod("accept", function (value, element, param) {
            return value.match(/^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/);
        }, $('#email'));
        jQuery.validator.addMethod("dob", function (value, element) {
            return value.match(/^(0[1-9]|1[012])[/ /.](0[1-9]|[12][0-9]|3[01])[/ /.](19|20)\d\d$/);
        }, $('#dateOfBirth'));
        $("#needs-validation").validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    accept: true
                },
                phone: {
                    number: true,
                    minlength: 10,
                    maxlength: 11
                },
                dateOfBirth: {
                    dob: true
                }
            },
            messages: {
                name: 'Vui lòng nhập họ tên!',
                email: {
                    required: 'Vui lòng nhập địa chỉ email!',
                    email: 'Sai định dạng email!',
                    accept: 'Sai định dạng email!'
                },
                phone: 'Vui lòng nhập chính xác số điện thoại!',
                dateOfBirth: 'Vui lòng nhập đúng định dạng tháng/ngày/năm'

            }
        });
    })
</script>