{{#if courses}}
<div class="container py-3">
    <h3 class="text-center">Kết quả tìm kiếm</h2>
    <div class="row my-3">
    {{#each courses}}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card feature-courses__card">
        <a href="/courses/{{ this.slug }}">
          <img src="/{{ this.image }}" class="card-img-top feature-courses__img" alt="...">
        </a>
        <div class="card-body">
          <h6 class="card-title font-weight-bold">{{ this.name }}</h6>
          <p class="card-text">{{ this.description }}</p>
          <p class="card-text d-flex align-items-center justify-content-between">
            <span class="feature-courses__author">
              <i class="fas fa-user-edit"></i>
              {{ this.author }}
            </span>
            <span class="feature-courses__totalStudent">
              <i class="fas fa-users"></i>
              {{ this.totalStudent }}
            </span>
            <a href="/courses/{{ this.slug }}" class="btn btn-primary rounded-pill learned">
              <span class="get-slug" style="display: none;">{{this.slug}}</span>
              Học ngay
            </a>
          </p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{{ paginateHelper pagination paginationClass="pagination pagination-sm justify-content-center" }}}
    </div>
  </div>
</div>
{{else}}
<h3 class="pt-5 text-center">Không có khoá học nào phù hợp</h2>
{{/if}}


<script>
  let learning = '{{user.learning}}';
  let getSlug = document.querySelectorAll('.get-slug');
  let learned = document.querySelectorAll('.learned');
  for (let i = 0; i < learned.length; i++) {
    if (learning.includes(getSlug[i].innerHTML)) {
      learned[i].innerHTML = 'Học tiếp';
      learned[i].classList.remove('btn-primary');
      learned[i].classList.add('btn-danger');
    }
  }
  window.addEventListener('DOMContentLoaded', (event) => {
    $('.pagination li').addClass('page-item');
    $('.pagination li a').addClass('page-link');
    let key = '{{key}}';
    let att = $('.pagination li a').attr('href');
    let attb = `search?q=${key}` + att.replace('?', '&');
    $('.pagination li a').attr('href', attb)
  });

</script>